$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

body{
  background: Lavender;
  text-align: center;  
}

#header{

  display: none;
  border-bottom: 1px solid black;
  img{
    width: 15%;
  }
}

#logo{
  margin-top: 20%;
}

#nivel{
  display: none;
  text-align: center;
  #cuerpo{
    display: inline-block;
    button{
      border-radius: 25px;
      width: 100%;
    }
  }
  #juego{
    margin: 15px;
    .foto{
      display: initial;
    }
    .row{
      margin:0;
      padding: 0;
    }

    .imagen{
      display: none;
    }
  }
}

.footer{
  display: none;
}

.imagen{
  display:none;
}
