$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
body {
    background: Lavender;
    text-align: center;
}

#header {
    display: none;
    border-bottom: 1px solid black;
    img {
        width: 15%;
    }
}

#logo {
    margin-top: 20%;
}

#nivel {
    display: none;
    text-align: center;
    #cuerpo {
        display: inline-block;
        button {
            border-radius: 25px;
            width: 100%;
        }
    }
    #juego {
        margin: 15px;

        .foto {
            display: initial;
        }
        .row {
            margin: 0;
            padding: 0;
        }
    }
}

.footer {
    display: none;
}

.imagen {
    display: none;
}


.animation_container {
  position: relative;
  z-index: 1;
  perspective: 1000;
  display:inline-block;
}

#f1_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s linear;
}
.animated #f1_card {
  transform: rotateY(180deg);
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  text-align: center;
}
.animated-back #f1_card {
  transform: rotateY(-180deg);
}